In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"]="mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, <Shop: Shop object (84)>, <Shop: Shop object (83)>, '...(remaining elements truncated)...']>

In [4]:
Shop

mall.models.Shop

# Create

In [ ]:
shop = Shop() # class name은 대문자로 시작
shop.name="투썸플레이스"
shop.telephone="042-1234-1234"

In [ ]:
shop.save()

In [ ]:
shop=Shop.objects.create(
    name="셀프24시빨래방",
    telephone="042-9876-9876",
)
shop

# Select

In [ ]:
qs= Shop.objects.all()

In [ ]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

In [ ]:
qs.order_by("-id") #, "created_at") # -는 내림차순 정렬 (정렬은 가급적 단일 컬럼을 쓰기)

# 데이터 뻥튀기

In [ ]:
for i in range(1,101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

# Slicing

In [6]:
qs=Shop.objects.all()

In [7]:
qs[:10]

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>]>

In [8]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>,
 <Shop: Shop object (96)>,
 <Shop: Shop object (94)>]

In [ ]:
qs[-10:] # last 10 rows -> 디비에서 지원 안함

In [ ]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

# Conditions

In [ ]:
qs=Shop.objects.all()

In [ ]:
# filter <-> exclude

qs.filter(pk=1)

In [ ]:
qs.exclude(pk=1)

In [ ]:
# lt: less than             <
# lte: less than equal      <=
# gt: greater than          >
# gte: greather than equal  >=
qs.filter(
    pk__gte=5,
    pk__lt=10, #less than
)

In [ ]:
qs.filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [ ]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# QuerySet is Lazy

In [ ]:
qs=Shop.objects.all()

In [ ]:
Shop.objects.all()

In [ ]:
qs=Shop.objects.all()
shop_list=list(qs) # 사용하기 좋지 않다

# Get 1 Row

In [ ]:
pk=10
not_existed_pk=1000000

In [ ]:
shop=Shop.objects.get(pk=pk) # 가져올 대상이 1개임을 기대. 1개가 아니면 예외가 발생
shop

In [ ]:
Shop.objects.get(pk=not_existed_pk) #Shop.DoseNotExist 예외가 발생

In [ ]:
Shop.objects.filter(pk=pk)[0]
shop

In [ ]:
Shop.objects.filter(pk=not_existed_pk)[0] # indexError 예외가 발생

In [ ]:
Shop.objects.filter(pk=not_existed_pk).first() # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생 x

# Conditions (OR)

In [ ]:
qs=Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) #AND

In [ ]:
from django.db.models import Q

In [ ]:
Q(pk__gte=5)

In [ ]:
Q(pk__lt=10)

In [ ]:
Q(pk__gte=5) & Q(pk__lt=10)

In [ ]:
Q(pk__gte=5) | Q(pk__lt=10)

In [ ]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

In [ ]:
conditions =  Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

지정 Row

In [ ]:
qs = Shop.objects.all()
shop=qs.get(pk=10)

In [ ]:
shop.name, shop.telephone

In [ ]:
shop.telephone='042-1234-0006'

In [ ]:
shop.save()

# 지정 범위의 Rows

In [ ]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

In [ ]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description='not used description'
    shop.save()

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()